main {
  background-color: silver;
  height: auto;
  width: 70%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 120px;
  padding: 20px;
}

#korail_image {
  margin: auto;
  width: 100%;
}
#lane_korail_1-2days {
  background-color: white;
  border: 3px solid gray;
  height: auto;
  width: 100%;
  display: block;
  margin: 20px auto;
}

#blue_font {
  margin-left: 10px;
  color: cornflowerblue;
}
#green_font {
  margin: auto;
  color: green;
}
#white_font {
  color: white;
}
.inquiry {
  font-size: 13px;
  margin: auto;
  text-align: center;
}

#lane {
  margin-left: 10px;
  width: 80%;
}

#reserve_space {
  display: block;
  float: right;
  top: 0;
  height: 100%;
  width: auto;
}

.lane_korail_01_btn {
  background-color: cornflowerblue;
  border: 0px;
  border-radius: 5px;
  font-size: 15px;
  margin: 40px 30px;
  padding: 1px 40px;
  text-align: center;
  cursor: pointer;
}

.korail_1-2days_inside_container {
  border: 3px solid cornflowerblue;
  height: auto;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 5px;
}

/* --------menubar---------
    
    .menu_container {
      display: flex;
      position: sticky;
      flex-direction: column;
      margin: 0 60px auto;
      height: 200px;
    }
    
    .logo_container {
      display: flex;
    }
    
    .logo_container > img {
    }
    
    .menubar_container {
    }
    
    .user_container {
    }
    
    ul {
      list-style: none;
    }
    
    li {
      float: left;
    }
    
    .option {
      margin: 0 10px auto;
    }
    
    input {
      height: 25px;
      border-radius: 20px;
    } */
