.su_kyung_ko_box {
  background-color: beige;
  width: 100%;
  height: 330px;
  display: flex;
}

#su_container {
  background-color: sienna;
  display: block;
  float: left;
  flex: 1;
  height: 100%;
  text-align: left;
}
#ko_container {
  background-color: springgreen;
  display: block;
  float: left;
  flex: 1;
  height: 100%;
  text-align: center;
}
#kyung_container {
  background-color: lightsteelblue;
  display: block;
  float: left;
  flex: 1;
  height: 100%;
  text-align: right;
}

#sudo_img {
  width: auto;
  height: auto;
  max-width: 330px;
  max-height: 300px;
  display: block;
  margin: auto;
}

#kyung_img {
  width: auto;
  height: auto;
  max-width: 330px;
  max-height: 300px;
  display: block;
  margin: auto;
}
#ko_img {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin: auto;
}
