/* fonts */

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans'),
    url('../../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.woff2')format('woff2'),
    url('../../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.woff')format('woff'),
    url(../../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.ttf)format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: local('Spoqa Han Sans'),
    url(../../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.woff2)format('woff2'),
    url(../../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.woff)format('woff'),
    url(../../fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    src: local('NanumSquare'),
    url(../../fonts/NanumSquare/NanumSquareAcEB.woff2)format('woff2'),
    url(../../fonts/NanumSquare/NanumSquareAcEB.woff)format('woff'),
    url(../../fonts/NanumSquare/NanumSquareAcEB.ttf)format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    src: local('NanumSquare'),
    url(../../fonts/NanumSquare/NanumSquareAcB.woff2)format('woff2'),
    url(../../fonts/NanumSquare/NanumSquareAcB.woff)format('woff'),
    url(../../fonts/NanumSquare/NanumSquareAcB.ttf)format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    src: local('NanumSquare'),
    url(../../fonts/NanumSquare/NanumSquareAcR.woff2)format('woff2'),
    url(../../fonts/NanumSquare/NanumSquareAcR.woff)format('woff'),
    url(../../fonts/NanumSquare/NanumSquareAcR.ttf)format('truetype');
}


/* style */
body{
    font-family: "Spoca Han Sans Neo", 'sans-serif';
}

.notice-section{
    padding:50px;
    margin-bottom: 50px;
}

.main-title{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: "NanumSquare", "sans-serif";
    font-weight: bolder;
}

.notice-header{
    border-bottom: 1px solid #040615;
}

.notice-title{
    display: flex;
    align-items: center;
}

.title{
    margin: 0;
    font-size: 35px;
}

.notice-mark{
    margin-right: 10px;
    padding: 4px 5px 3px 5px;
    text-align: center;
    justify-content: center;
    width: 25px;
    font-size: 12px;
    border: 1px solid #3b75b8;
    border-radius: 5px;
}

.notice-date{
    margin:10px 0;
    text-align: right;
    color: gray;
}



/* Contents */
p{
    font-size: 20px;
}

img{
    width: 100%;
}


/* btn */
.btn-back-list{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}
.back-to-list{
    padding: 15px 30px;
    width: 250px;
    background-color: #040615;
    color: azure;
    font-size: 15px;
}